<div class="stars-rating" [attr.data-size]="size">
  <div class="stars-rating__bottom">
    <mpw-icon class="stars-rating__item" name="star"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star"></mpw-icon>
  </div>
  <div class="stars-rating__top" [style.width.%]="rateWidth">
    <mpw-icon class="stars-rating__item" name="star-gold"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star-gold"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star-gold"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star-gold"></mpw-icon>
    <mpw-icon class="stars-rating__item" name="star-gold"></mpw-icon>
  </div>
</div>
