<mpw-metric-tile
  [value]="metrics.learners"
  [label]="'common.learners' | translate"
  iconName="learners"
></mpw-metric-tile>
<mpw-metric-tile
  [value]="metrics.connections"
  [label]="'scenarioPage.connections' | translate"
  iconName="connections"
></mpw-metric-tile>
<mpw-metric-tile
  [value]="metrics.waitingOnLearner"
  [label]="'scenarioPage.waitingOnLearner' | translate"
  iconName="learner"
></mpw-metric-tile>
<mpw-metric-tile
  [value]="metrics.waitingOnCoach"
  [label]="'scenarioPage.waitingOnCoach' | translate"
  iconName="coaches"
></mpw-metric-tile>
<mpw-metric-tile
  [value]="metrics.evaluated"
  [label]="'scenarioPage.evaluated' | translate"
  iconName="evaluations"
></mpw-metric-tile>
