<div class="input-error text-red">
  <svg
    height="30"
    width="30"
    version="1.1"
    viewBox="0 0 30 30"
    xmlns="http://www.w3.org/2000/svg"
    xmlnsXlink="http://www.w3.org/1999/xlink"
  >
    <path
      fill="currentColor"
      fill-rule="evenodd"
      d="M15.699 17.676v-7.54a.749.749 0 1 0-1.498 0v7.54a.749.749 0 1 0 1.498 0zm.284 3.34v-.053a.983.983 0 1 0-1.965 0v.053a.983.983 0 0 0 1.965 0zM4 24L15 5l11 19H4z"
    />
  </svg>
  <span class="input-error__text" translate>{{ errorText }}</span>
</div>
